body {
    margin: 0;
}

body div.background {
    background-image: url('./../images/404.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Germania One', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 2em;
}

h1 {
    margin: 0;
    padding-top: 50px;
}