<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/home.css">
    <title>To Do List - Vitor Martins</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="list-item-input">Item:</label>
        <input type="text" name="item" id="list-item-input" autocomplete="off">
        <button type="submit">Adicionar</button>
    </form>

    <hr>
    <div id="todo-list">

    </div>
    <script src="./js/home.js"></script>
</body>
</html>